button {
    background-color: #E23744;
    color: #ffffff;
    font-family: Arial, sans-serif;
    font-size: 15px;
    font-weight: 600;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    margin-right: 30px;
}

/* Hover state modifier rule */
button:hover {
    background-color: #cb202d;
}